$color_1: rgb(238, 71, 20);
$color_2: black;
$background-color_1: rgb(231, 231, 231);

.contac {
	text-decoration: none;
	color: $color_2;
	&:hover {
		text-decoration: underline;
	}
}
.container-info {
	display: flex;
	margin: 20px;
	flex-direction: column;
	justify-content: center;
}

.contacto1 {
	padding-left: 400px;
	padding-right: 400px;
}

@media (max-width: 1233px) {

	.contacto1 {
		padding-left: 100px;
		padding-right: 100px;
	}


}